.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100vw;
  background-color: rgb(19, 19, 20);
  color: azure;
  gap: 28px;
  font-size: 24px;
}
.link {
  text-decoration: none;
  color: azure;
  transition: color 300ms ease-in-out;
}
.active {
  color: rgb(92, 156, 156);
}
